


header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #feffff;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .logo {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  
}

header .logo img {
  width: 50px;
  margin-right: .5rem;
}

header .navbar  .button {
    background: transparent;
    border: #f3a202 2px solid;
    border-radius: 50px;
     margin-left: 15px;
    padding: 8px 20px;
    color: #f3a202;
    font-size: 15px;
    text-align: center;
    transition: 0.5s;
}

header .navbar  .button:hover{
    background-color: #f3a202;
    color: white;
}


header .navbar a {
  color: #000000;
  text-transform: uppercase;
  font-size: .8rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  font-weight: bold;
  font-size: 15px;
}

header .navbar a:hover {
  color: #f3a202;
  
}

header #menu-btn {
  display: none;
  color: #f3a202;
  cursor: pointer;
}

header #menu-btn:hover {
    color: #000000;
}

@media (max-width: 991px) {
  html {
    font-size: 85%;
  }
  
  
}

@media (max-width: 768px) {
  header #menu-btn {
  display: inline-block;
}
  
  header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #ffffff;
    border-top: 1px solid #8D99AE;
    padding: 2rem;
    clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0);
    text-align: center;
  }
  
  .header .navbar.active {
    clip-path: polygon(100% 0, 52% 0, 0 0, 0 100%, 100% 100%);
  }
  
  .header .navbar a {
    display: block;
    margin: 20px;
    
  }
  